#siteName {
    color: var(--mainColor);
}

.ticker {
    color: var(--highlightColor1);
}

#siteLogo {
    width: 90px;
    height: 90px;
    margin: auto;
    background: #ede3f4;
    border-radius: 50%;
}

.detail {
    background: #F1F1F1;
    border-radius: 0.5em;
    color: #545454;
    padding: 0.375em 2em 0.375em 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

#fees {
    display: inline-block;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

#addr{
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.identicon svg {
    border-radius: 50%;
    border: 1px solid #e9e9e9;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.25s ease;
}

