#siteName {
    color: var(--mainColor);
}

.ticker {
    color: var(--highlightColor1);
}

#siteLogo {
    width: 90px;
    height: 90px;
    margin: auto;
    background: #ede3f4;
    border-radius: 50%;
}

.detail {
    background: #5a009c14;
    border-radius: 0.5em;
    color: #545454;
    padding: 0.375em 2em 0.375em 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

#fees {
    display: inline-block;
    max-width: 138px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}