#settings .settingsPane .settingsCat[data-settingId='manageNetworks'] {
    padding: 0em 2em;
    overflow: initial;
}

#settingsNetworksList {
    padding-bottom: 5em;
    overflow: auto;
    height: calc(100% - 9em);
}

#settings .settingsPane .settingsCat[data-settingId='addNetwork'] {
    overflow: visible;
}

#settings .settingsPane .settingsCat[data-settingId='addNetwork'] {
    padding: 0 1em;
}

#settingsNetworkAddError {
    font-size: 0.8em;
}
