#body .bodyElem .airdrop{
    height: 545px;
}

#mainPane .airdrop .airdropHeader{
    padding: 0.5em;
    height: 110px;
    margin-bottom: 1em;
}


.airdrop .airdropBody {
    max-height: 430px;
}

.hr{
    width: 90%;
    margin-left: 1em;
}

#mainPane>.airdrop>.airdropHeader>.stats {
    color: black;
    padding: 1em 0em;
    position: absolute;
    left: 2em;
    right: 2em;
    top: 46px;
    border-radius: 0.5em;
}

#mainPane .airdrop .airdropHeader .stats .decimalValue{
    color: rgba(0, 0, 0, 0.5);
}

#mainPane .airdrop .airdropHeader .stats .dollarSign{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .7em;
    margin-left: .2em;
}

#mainPane .airdrop .airdropHeader .stats .address-bloc p span {
    color: black;
    font-weight: bold;
}

#mainPane .airdrop .airdropHeader .stats .fluctuation.negative {
    color: #ff2020;
}

#mainPane .airdrop .airdropHeader .stats .row{
    --bs-gutter-x: 0;
}

#mainPane .airdrop .airdropHeader .stats .fluctuation.negative i {
    transform: rotate(180deg);
    vertical-align: text-top;
}

#mainPane .airdrop .airdropHeader .stats .balance-header{
    align-items: center;
    padding: 0;
}

#mainPane .airdrop .airdropHeader .wallet-address .notifReward {
    background-color: #fa3e3e;
    border-radius: 50px;
    color: white;
    padding: 1px 5px;
    font-size: 10px;
    position: absolute;
    top: -11px;
    right: 0;
}

.airdropPaddingModifier {
    padding: 0 2em !important;
    margin-bottom: 1em !important;
}

#mainPane .airdrop .airdropHeader .stats .balanceTitle h1{
    padding: 0;
    margin: unset !important;
    font-size: .8em;
    font-weight: unset !important;
    color: rgba(0,0,0,0.5);
}

#mainPane .airdrop .airdropHeader .stats .title {
    font-size: 0.65em;
    margin: 0 0 0.25rem;
}

#mainPane .airdrop .airdropHeader .stats .adress {
    font-size: 0.65em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 15ch;
    margin: 0 0 0.25rem;
    white-space: nowrap;
}

#mainPane .airdrop .airdropHeader .stats .wallet-address {
    justify-content: space-between;
    color: black;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    border-radius: 1em;
    align-items: baseline;
}

#mainPane .airdrop .airdropHeader .stats .address-div {
    padding: 0;
}

#mainPane .airdrop .airdropHeader .stats .claimDropReward{
    font-size: .7em;
    border-radius: 25px;
}

#mainPane .airdrop .airdropHeader .stats .address-bloc p {
    background-color: #f8f4fb;
    border-radius: 25px;
    padding: 0.575em 0.75em;
    color: rgb(0 0 0 / 60%);
}

#mainPane .airdrop .airdropHeader .stats .wallet-address .copy{
    margin-right: 20px;
}

#mainPane .airdrop .airdropHeader .stats .values {
    margin-bottom: 0.1rem;
    font-size: 30px;
    font-weight: bold;
}

#mainPane .airdrop .airdropHeader .pendingTxs {
    height: 36px;
    width: 36px;
    background: white;
    border-radius: 50%;
    line-height: 36px;
    margin: auto;
    cursor: pointer;
    padding: 0;
}

.airdropActive .airdropCard{
    background-color: #f8f4fb;
    border-radius: 0.5em;
    padding-top: 0.375em !important;
    padding-bottom: 0.375em !important;
}

.airdropActive{
    overflow: auto;
    padding: 0 2em 1em;
}

.airdropActive .airdropCard .airdropGains{
    font-size: .7em
}

.airdropActive .airdropCard .fa-chevron-right{
    font-size: 1.4em;
}

.airdropActive .airdropCard .coinTicker{
    color: #696969;
}

.airdropActive .airdropCard .fa-chevron-right:hover{
    cursor: pointer;
}

.airdropCard .cryptoDesc{
    font-size: .8em;
    border-radius: 15px;
    padding: 0em 1em;
    max-height: 150px;
}

.airdropCard .cryptoMedia{
    margin-left: 11px;
}

.airdropCard .joinDrop{
    font-size: .8em;
}

.airdrop .pendingReward{
    background-color: rgba(255, 191, 0, 0.7) !important;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    border-radius: 15px;
    margin-left: 1em !important;
    padding: 0 1em;
}


.airdropActive .airdropCard .fa-link{
    color: #737373;
}
.airdropActive .airdropCard .fa-link:hover{
    color: #404040;
}

.airdrop .airdropCard .cryptoMedia svg {
    fill: #737373;
}

.airdropActive .airdropCard .cryptoMedia .cmc svg:hover{
    cursor: pointer;
    fill: #2059ff;
}

.airdropActive .airdropCard .fa-discord{
    color: #737373;
}

.airdropActive .airdropCard .fa-discord:hover{
    color: #7289d9;
}

.airdropActive .airdropCard .fa-telegram {
    color: #737373;
}

.airdropActive .airdropCard .fa-telegram:hover{
    color: #0088cc;
}

.airdropActive .airdropCard .fa-twitter{
    color: #737373;
}

.airdropActive .airdropCard .fa-twitter:hover{
    color: #00ACEE;
}

.fa-gift{
    background: conic-gradient(from -45deg, #FF5566 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}


.airdropActive .airdropCard .cryptoMedia a {
    cursor: pointer;
}

.airdropCard .userEntered {
    font-size: .7em;
}

.airdropCard .cryptoMedia a {
    text-decoration: none !important;
}

.airdropCard .winnerCount {
    font-size: .7em;
}

.airdropCard .fa-chevron-right{
    transition: transform 0.25s ease;
}

.airdropCard .earningsTitle {
    color: #777;
}

.airdropCard .earnCoin {
    font-size: 1.2em;
    line-height: 1em;
}

.loadingAirdrop {
    margin-top: 75%;
    font-size: 2em;
}

.airdropWinModal{
    background: rgb(0 0 0 / 20%);
    height: 600px;
    width: 56.25vh;
    position: absolute;
    top: 0;
    z-index: 5;
}

.airdropWinModal .winImg{
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: 48px;
}

.airdropWinModal .wonText{
    margin-top: -25px !important;
}

.airdropWinModal .rounded-1{
    border-radius: 1em !important;
}

.airdropWinModal .closeBtn {
    color: #545454 !important;
}

.airdropWinModal .winAmmount{
    font-weight: bold;
    font-size: 2em;
    color: var(--mainColor);
}

.airdropWinModal .button {
    padding: 0.375em 1.5em !important;
    text-decoration: unset !important;
}

.airdropWinModal a:hover{
    color: white; !important;
}

.airdropConditions{
    background: rgb(0 0 0 / 20%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}

.airdropConditions .step {
    background-color: #A1A1A1;
    height: 5px;
    border-radius: 100em;
    margin-bottom: 5px;
}

.airdropConditions .step.stepActive {
    background-color: var(--mainColor) !important;
}

.airdropConditions .step.stepPassed {
    background-color: var(--mainColorLight30) !important;
}

.rulesDrop {
    list-style: none;
    padding: 0;
    margin: 0;
}

.airdropConditions .fa-period{
    color: var(--mainColor);
}

.airdropConditions .buttonModal{
    border-radius: 1em !important;
    padding: 0.375em 2em !important;
}

.airdropModalConditions{
    background-color: rgba(255,255,255,1) !important;
}
.airdropModalConditionsVerify{
    background-color: rgba(255,255,255,1) !important;
}

.airdropConditions .linkAirdrop {
    color: var(--mainColorLight);
    text-decoration: none !important;
}