#body .store .appsImg {
    max-width: 64px;
    height: 64px;
    max-height: 64px;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 6px;
}

#body .store .appElement {
    cursor: pointer;
    overflow: hidden;
    margin-top: -21px;
    text-overflow: ellipsis;
}


#body .store p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

#body .store .seeMore {
    color: var(--mainColor);
    cursor: pointer;
}

#body .virgoStore{
    cursor: pointer;
}

.nofav{
    background-image: url("../images/VirgoFav.png");
}

.star{
    top: 14px;
    left: 30px;
   opacity: 0;
}


#body .store .appElement:hover .star{
    top: 14px;
    left: 30px;
   opacity: 1;
}

.favorite{
    color: yellow;
}

.VirgoStoreImg{
    border-radius: 10px;
}
