#chainSelector {
    display: block;
    height: 562px;
    width: 100%;
    top: 52px;
    position: absolute;
    background: #faf6fc;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition:transform 0.25s ease;
}

#chainSelector.opened {
    transform: scaleY(1);
}

#chainSelector .chain {
    background: var(--whiteBackground);
    border-radius: 0.5em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    cursor: pointer;
    transition: background ease 0.25s;
    text-align: center;
    margin: 0.25em 0;
}

#chainSelector .chain .logo {
    height: 32px;
    width: 32px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    margin: auto;
}

#chainSelector .chain.selected {
    background: #ece2f3;
    cursor: default;
}

#chainSelector .chain:hover {
    background: #e2d2ed;
}

#chainSelector .chain h3, #chainSelector .chain p {
    margin: 0;
}

#chainSelectionHeader {
    cursor: pointer;
    transform: rotate(0deg);
}

#chainSelectionHeader i {
    transform: rotate(0deg);
    transition:transform 0.25s ease;
}

#chainSelectionHeader.opened i {
    transform: rotate(180deg);
    vertical-align: middle;
}

#chainSelector .chain .selectedIcon {
    display: none;
}

#chainSelector .chain.selected .selectedIcon {
    display: inline-block;
}

#chainSelector .chain.selected .selectIcon {
    display: none;
}

#chainSelector name {
    font-size: 0.85em;
}

#chainSelector ticker {
    font-size: 0.75em;
    line-height: 1em;
    display: block;
    font-weight: bold;
}
