div > #chain {
    list-style-type: none;
    text-align: center;
}

#chain > span {
    text-align: center;
    font-size: 1.4em;
}

#selectChains {
    padding: unset;
}

#selectChains > li {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#BSC {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#selectChains > li:hover {
    background: #ddd;
}

.chain {
    cursor: pointer;
}

#chain {
    display: none;
    background-color: #ffffff;
}