edit-fees {
    z-index: 1000000;
    position: absolute;
    inset: 0px;
    background: #000000d6;
}

.speed {
    background: var(--whiteBackground);
    border-radius: 0.5em;
    color: #545454;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    cursor: pointer;
    padding: 10px;
}

.speed:hover {
    background: #ffe4fc;
}

.see .selectedFees {
    background: var(--whiteBackgroundSelected);
}

.editFeesSpeed {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
    vertical-align: top;
}

.blackbg {
    z-index: 11;
    display: flex;
    background: black;
    opacity: 0.8;
    position: relative;
    height: 51%;
    cursor: pointer;
    margin-bottom: -33px;
}

.see {
    border-radius: 30px 30px 0px 0px;
    background: white;
    position: absolute;
    z-index: 15;
    left: 0;
    width: 100%;
    bottom: 0;
    padding-top: 4em !important;
}

.rule {
    position: absolute;
    color: gray;
    font-size: 35px;
    margin-top: -3em;
    left: 50%;
    transform: translateX(-50%);
}

.titleFees {
    margin-top: -35px;
}

.editFees {
    cursor: pointer;
    margin-left: 5px !important;
    color: var(--mainColor);
}

.editFees:hover {
    color: var(--mainColorDark10);
}

#editFees .value {
    margin-left: 40px !important;
}

.feesTicker {
    color: var(--highlightColor1);
}
