#editFees{
    z-index: 1;
    background-color: #dbd9d9;
    margin-top: 30em;
    height: 100%;
    border-radius: 30px;
}

.speed{
    background: #F1F1F1;
    border-radius: 0.5em;
    color: #545454;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 10px;
}

.check{
    background: var(--mainColor);
    border-radius: 0px 10px 10px 0px;
}