#mainPane .resume .address {
    background: var(--whiteBackground);
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    transition: all ease-in 0.1s;
}

#mainPane .resume .address:hover {
    background: #ece2f3;
}

#mainPane .resume .address p {
    margin-bottom: 0;
}

#mainPane .resume .address .title {
    font-size: 0.9em;
}

#mainPane .resume .address .value {
    font-size: 0.65em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--highlightColor1);
}

#mainPane .resume .address .copy {
    font-size: 1.5em;
}

#mainPane .resume .actions button {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(90 0 156 / 10%), 0 2px 4px -1px rgb(90 0 156 / 6%) !important;
}

#mainPane .resume .assets .asset {
    background: var(--whiteBackground);
    border-radius: 0.5em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    cursor: pointer;
    transition: all ease-in 0.1s;
}

#mainPane .resume .assets .asset:hover {
    background: #ece2f3;
}

#mainPane .resume .assets .asset p {
    margin-bottom: 0;
}

#mainPane .resume .assets .asset .logo {
    height: 32px;
    width: 32px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
}

#mainPane .resume .assets .asset .title {
    font-weight: bold;
}

#mainPane .resume .assets .asset .amount {
    font-size: 0.85em;
}

#mainPane .resume .assets .asset .amount val {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 5em;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    padding-bottom: 2px;
}

#mainPane .resume .assets .asset .fluctuation {
    font-size: 0.85em;
    color: #2d955a;
}

#mainPane .resume .assets .asset .fluctuation.negative {
    color: #952d2d;
}

#mainPane .resume .assets .asset .fluctuation.negative i {
    transform: rotate(180deg);
    vertical-align: text-top;
}

#mainPane .resume .assets .addAsset {
    cursor: pointer;
    color: #545454;
}

#mainPane .resume .assets .addAsset:hover {
    color: var(--bs-body-color);
}

#body .bodyElem.addAsset .back {
    cursor: pointer;
    color: #545454;
}

#body .bodyElem.addAsset .back:hover {
    color: var(--bs-body-color);
}

#body .resume {
    max-height: 350px;
    overflow-y: auto;
}
