@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
}

* {
    scrollbar-width: none;
}

body {
    height: 600px;
    width: 56.25vh;
    --mainColor: #aa3180;
    --mainColorDark10: #912a6e; /* Darken by 10% */
    --mainColorLight: #c03791; /* Lighten by 10% */
    --mainColorLight20: #ca4a9e;
    --mainColorLight30: #d160aa;
    --highlightColor1: #8B2B75;
    --highlightColor2: #ffb4f8;
    --whiteBackground: #f9f9f9;
    --whiteBackgroundSelected: #ece2f3;
    --whiteBackgroundHover: #f7f3fa;
    --greenBackground: #E3F3E1;
    --greenArrow: #84C56F;
    --blueBackground: #DFF0FF;
    --blueArrow: #70a6dd;
    --redBackground: #FFDEDE;
    --redArrow: #FF6161;
    --lightGrey: #F3F3F3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    overflow: hidden;
    font-size: 14px;

    /* New color palettes */
    --gray-50: #fafafa;
    --gray-100: #f5f5f5;
    --gray-200: #e5e5e5;
    --gray-300: #d4d4d4;
    --gray-400: #a3a3a3;
    --gray-500: #737373;
    --gray-600: #525252;
    --gray-700: #404040;
    --gray-800: #262626;
    --gray-900: #171717;
    --gray-950: #0a0a0a;

    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
    --green-950: #052e16;

    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --red-950: #450a0a;

    --main-50: #fff4fd;
    --main-100: #ffe8fc;
    --main-200: #fed0f7;
    --main-300: #fdaaed;
    --main-400: #fa78dd;
    --main-500: #f045ca;
    --main-600: #d425a9;
    --main-700: #b71c8e;
    --main-800: #90186f;
    --main-900: #76195a;
    --main-950: #4f0339;
}

.text-gray-400 {
    color: var(--gray-400) !important;
}

.text-gray-700 {
    color: var(--gray-700) !important;
}

.text-red-400 {
    color: var(--red-400) !important;
}

.text-red-600 {
    color: var(--red-600) !important;
}

.text-green-400 {
    color: var(--green-400) !important;
}

.text-main-700 {
    color: var(--main-700);
}

.button {
    color: white;
    background: var(--main-700);
    border: none;
    border-radius: .5em;
    padding: .375em .75em;
    transition: all ease-in 0.1s;
    font-weight: 500;
}

.button:hover {
    background: var(--main-800);
}

.button-red {
    background-color: var(--red-100);
    color: var(--red-600);
    font-weight: 600;
}

.button-red:hover {
    background-color: var(--red-200);
}

.button-green {
    background-color: var(--green-100);
    color: var(--green-600);
    font-weight: 600;
}

.button-green:hover {
    background-color: var(--green-200);
}

.buttonEmpty {
    color: var(--main-700);
    font-weight: bold;
    background-color: unset;
    border: none;
    padding: .375em .75em;
    transition: all ease-in 0.1s;
}

.buttonEmpty:disabled {
    opacity: 0.5;
}

.button:disabled {
    background: #D78AC5 !important;
}

.button.success {
    background: #28a745;
}

.button.success:hover {
    background: #218838;
}

.button.danger {
    background: #dc3545;
}

.button.danger:hover {
    background: #c82333;
}

.button.light {
    background: #f8f9fa;
    color: black;
}

.button.light:hover {
    background: #e2e6ea;
}

.input {
    background: var(--gray-50);
    border: none;
    color: var(--gray-700);
    padding: 0.75em;
    border-radius: 0.5em;
    text-overflow: ellipsis;
    font-weight: 500;
}

.input-copiable {
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    cursor: pointer;
    background-color: var(--gray-50);
    transition: 0.25s ease-in all;
    user-select: none;
}

.input-copiable:hover {
    background-color: var(--gray-100);
}

.input-copiable .input {
    flex: 1;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-copiable i {
    color: var(--gray-400);
    margin-left: 0.5em;
}

#sendConfirm .input {
    background: #F3F3F3;
    border: none;
    color: #545454;
    padding: 0.8em 0em 0.8em 1.75em;
    width: 38%;
    border-radius: 40px;
}

#sendConfirm select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#sendConfirm select.assetSelect {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 30px) calc(1em + 7px), calc(100% - 25px) calc(1em + 7px);
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

#sendConfirm  .inputAmount {
    all: unset;
    border: none;
    color: #545454;
    font-size: 3em;
    width: 2ch;
    text-align: center;
    min-width: 4ch;
    max-width: 11ch;
}

#sendConfirm .selectLogo{
    height: 32px;
    width: 32px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

#sendConfirmFees svg{
border-radius: 50%;
}

#sendConfirm .selectText{
    display: inline-block;
    padding-top: 2px;
    padding-left: 6px;
    vertical-align: middle;
}

.input:focus-visible{
    outline: none !important;
}

.input.is-invalid {
    color: #dc3545;
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.input.outline {
    background: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
}

.input.outline:focus {
    outline: 5px solid rgba(255, 255, 255, 0.5);
}

.input.outline::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.inputWButton {
    padding: 0.375em 0.75em;
}

.inputWButton:focus-within {
    outline: 2px solid #545454;
}

.inputWButton input {
    background: transparent;
    border: none;
    outline: none;
    padding-right: 2em;
}

.inputWButton button {
    background: transparent;
    border: none;
    all: unset;
    color: var(--highlightColor1)
}

.inputWButton input.is-invalid {
    color: #dc3545;
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.inputWButton button:hover {
    color: var(--mainColorLight30)
}

.inputWButton button:active {
    color: var(--mainColorLight)
}

.label {
    margin: 0 0 0.5rem;
    color: var(--gray-400);
}

.label.error {
    color: var(--red-400);
}

.labelId {
    margin: 0;
}


/* remove input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-1 {
    padding-left: .25em !important;
}

.pl-2 {
    padding-left: .5rem !important;
}

.pr-1 {
    padding-right: .25em !important;
}

.pr-2 {
    padding-right: .5rem !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-1 {
    margin-left: .25em !important;
}

.ml-2 {
    margin-left: .5rem !important;
}

.mr-1 {
    margin-right: .25em !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #00000075;
    display: none;
    z-index: 11;
}

.popup .box {
    background: white;
    position: absolute;
    left: 6%;
    right: 6%;
    transform: translateY(50%);
    bottom: 50%;
    border-radius: 0.5em;
    box-shadow: 0px 1px 5px 2px #0000003b;
}

.popup .steps {
    background-color: #6C2559;
    height: 5px;
    border-radius: 100em;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.popup .stepsActive{
    background-color: #B71C8E !important;
}

#tutorialPopup .box {
    background-color: #242424 !important;
    border-radius: 1em !important;
}

#tutorialPopup .button{
    border-radius: 1em !important;
    color: black;
}

#tutorialPopup .button:hover{
    color: white;
}

#tutorialPopup #closeTutorial:hover{
    cursor: pointer;
}

.popup .header .close {
    cursor: pointer;
    transition: color ease-in 0.1s;
}

.popup .header .close:hover {
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

.questionSection{
    color: #babdbf;
    cursor: pointer;
}

.badge {
    vertical-align: text-bottom !important;
    font-weight: normal !important;
}

.badge-secondary {
    color: #fff !important;
    background-color: #6c757d !important;
}

.badge-warning {
    color: #212529 !important;
    background-color: #ffc107 !important;
}

.c-green {
    color: var(--bs-green) !important;
}

.leftLine {
    text-align: left;
    overflow: hidden;
}

.leftLine>span {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.leftLine>span:before, .leftLine>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 200px;
    margin: 0 10px;
}

.leftLine>span:before {
    right: 100%;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.form-check-input:focus {
    border-color: var(--mainColor) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgb(170 49 128 / 25%) !important;
}

.form-check-input:checked {
    background-color: var(--mainColor) !important;
    border-color: var(--mainColorLight) !important;
    outline-color: var(--mainColorLight20) !important;
}

.form-select:focus {
    border-color: var(--mainColor) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgb(170 49 128 / 25%) !important;
}

#loadingPane {
    height: 100%;
    width: 100%;
    font-size: 1.75em;
    text-align: center;
    line-height: 100vh;
}

#loadingPane i {
    vertical-align: text-top;
}

.feesBtn{
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
}

.filter-option-inner-inner{
    overflow: hidden;
    margin-right: 7px;
}

/*
Popups that spawn at the bottom of the screen, used for eg. Fees and parameters
*/
.bottomPopup {
    z-index: 1000000;
    position: absolute;
    inset: 0px;
    padding: 0;
}

.bottomPopup .background {
    z-index: -1;
    display: flex;
    background: black;
    opacity: 0.8;
    height: 100vh;
    position: relative;
    cursor: pointer;
}

.bottomPopup .close {
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
}

.bottomPopup .close:hover {
    color: black;
    transition: all ease-in 0.1s;
}

.bottomPopup .content {
    border-radius: 30px 30px 0px 0px;
    background: white;
    position: absolute;
    z-index: 15;
    left: 0;
    width: 100%;
    bottom: 0;
}

.bottomPopup .bgBar {
    position: absolute;
    color: gray;
    font-size: 35px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -36px;
}

iframe {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 10000000000;
}

#deleteNftPopup .box {
    background-color: #242424 !important;
    border-radius: 1em !important;
}

#deleteNftPopup .button{
    border-radius: 1em !important;
    color: black;
    margin-right: 1em;
    margin-left: 1em;
}

#deleteNftPopup .button:hover{
    color: white;
}

#deleteNftPopup #closeNftDelete:hover{
    cursor: pointer;
}

.fullpageSection {
    height: 100%;
    width: 100%;
    top: 0px;
    position: absolute;
    background: white;
    z-index: 100000;
}

#airdropPane {
    height: 100%;
}

.btnInputWrapper {
    display: flex;
    background-color: var(--gray-50);
    border-radius: 0.5em;
}

.btnInputWrapper input {
    padding: 0;
    flex: 1;
    margin: 0 1em;
}

.inputBtn {
    color: var(--gray-700);
    padding: 0.75em;
    border-radius: 0.5em;
    cursor: pointer;
    line-height: 1em!important;
    transition: all 0.1s ease-in;
}

.inputBtn:hover {
    background-color: var(--gray-100);
}


/* font size */

.text-sm {
    font-size: 0.875em; /* 14px */
    line-height: 1.25em; /* 20px */
}

.text-base {
    font-size: 1em; /* 16px */
    line-height: 1.5em; /* 24px */
}

.text-lg {
    font-size: 1.125em; /* 18px */
    line-height: 1.75em; /* 28px */
}

.text-xl {
    font-size: 1.25em; /* 20px */
    line-height: 1.75em; /* 28px */
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

.text-5xl {
    font-size: 3rem; /* 48px */
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem; /* 60px */
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}

.text-8xl {
    font-size: 6rem; /* 96px */
    line-height: 1;
}

.text-9xl {
    font-size: 8rem; /* 128px */
    line-height: 1;
}

.flex-1 {
    flex: 1;
}

.flex-0 {
    flex: 0;
}

.shimmerBG {
    animation-duration: 9s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, var(--gray-100) 8%, var(--gray-50) 18%, var(--gray-100) 33%);
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

.weight-600 {
    font-weight: 600!important;
}
