#mainPane {
    height: 100%;
    width: 100%;
}

#mainPane>.header {
    text-align: center;
    height: 151px;
    padding: 0.5em;
    margin-bottom: -0.5em;
    background-color: #fbf4f8;
}
.hr{
    width: 90%;
    margin-left: 1em;
}
#mainPane>.header>.stats {
    color: black;
    padding: 1em 0em;
    position: absolute;
    left: 2em;
    right: 2em;
    top: 46px;
    border-radius: 0.5em;
}

#mainPane .header .stats .fluctuation {
    color: var(--bs-teal);
    margin-bottom: 6px;
    font-size: 13px;
}

#mainPane .header .stats .fluctuation.negative {
    color: #ff2020;
}

#mainPane .header .stats .fluctuation.negative i {
    transform: rotate(180deg);
    vertical-align: text-top;
}

#mainPane .header .stats .balance-header{
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: 8px;
}

#mainPane .header .stats .balanceTitle{
    padding: 0;
}

#mainPane .header .stats .title {
    font-size: 0.65em;
    margin: 0 0 0.25rem;
    font-weight: bold;
}

#mainPane .header .stats .adress {
    font-size: 0.65em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 15ch;
    margin: 0 0 0.25rem;
    white-space: nowrap;
}

#mainPane .header .stats .wallet-address {
    display: flex;
    justify-content: space-between;
    color: black;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    border-radius: 1em;
    background: var(--whiteBackground);
    align-items: baseline;
}

#mainPane .header .stats .address-div :hover {
    background: #ece2f3;
}

#mainPane .header .stats .address-div {
    padding: 0;
    margin-top: 5px;
    cursor: pointer;
}

#mainPane .header .stats .wallet-address .address-bloc{
    margin-left: 20px;
}

#mainPane .header .stats .wallet-address .copy{
    margin-right: 20px;
}

#mainPane .header .stats .values {
    margin-bottom: 0.1rem;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

#mainPane .header .pendingTxs {
    height: 36px;
    width: 36px;
    background: white;
    border-radius: 50%;
    line-height: 36px;
    margin: auto;
    cursor: pointer;
    padding: 0;
}

#mainPane .bodyElem.resume, #mainPane .bodyElem.send, #mainPane .bodyElem.swap {
    padding: 1em 2em;
}

#mainPane #footer {
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.75em 0.5em;
    transition: max-height 0.25s ease-in;
    max-height: 48px;
}

#mainPane #footer:hover {
    max-height: 64px;
}

#mainPane #footer .footerElem {
    color: #9C9C9C;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

#mainPane #footer .footerElem:hover {
    color: #676767;
}

#mainPane #footer .footerElem.selected .fa-gift{
    background : none;
    -webkit-background-clip : unset;
    -webkit-text-fill-color : unset;
    color: var(--highlightColor1);
}

#mainPane #footer .footerElem.selected {
    color: var(--highlightColor1);
    cursor: default;
}

#mainPane #footer i {
    font-size: 1.5em;
}

#footer p {
    font-size: 0.8em;
    margin: 0;
    visibility: hidden;
    transform-origin: top;
}

#footer:hover p{
    visibility: visible;
}

#backupPopup span {
    color: var(--highlightColor1);
}

#backupPopup p {
    font-size: 0.9em;
    line-height: 1.3em;
}

#testnetFaucet {
    text-align: center;
    font-size: 0.75em;
    background: var(--whiteBackground);
    border-radius: 0.75em;
    padding: 0.5em;
}

#testnetFaucet span {
    color: var(--mainColor);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#testnetFaucet span:hover {
    color: var(--mainColorDark10);
}
