#mainPane {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#mainPane>.header {
    text-align: center;
    height: 151px;
    padding: 0.5em;
    margin-bottom: -0.5em;
    margin-top: 0.5em;
}
.hr{
    width: 90%;
    margin-left: 1em;
}
#mainPane>.header>.stats {
    color: black;
    padding: 1em 0em;
    position: absolute;
    left: 2em;
    right: 2em;
    top: 55px;
    border-radius: 0.5em;
}

#mainPane .header .stats .fluctuation {
    color: var(--bs-teal);
    margin-bottom: 6px;
    font-size: 13px;
}

#mainPane .header .stats .fluctuation.negative {
    color: #ff2020;
}

#mainPane .header .stats .fluctuation.negative i {
    transform: rotate(180deg);
    vertical-align: text-top;
}

#mainPane .header .stats .balance-header{
    align-items: center;
    padding: 0;
}

#mainPane .header .stats .balanceTitle{
    padding: 0;
}

#resumeTokenBar hr {
    height: 3px;
    margin-left: 2px;
    margin-right: 2px;
    opacity: 1;
    margin-bottom: unset !important;
    margin-top: unset !important;
}

#mainPane .header .stats .btnAddFunds{
    font-size: .6em;
    padding: .2em 1.5em;
    border-radius: 25px;

}

#mainPane .header .stats .title {
    font-size: 1em !important;
    margin: 0 0 0.25rem;
}

#mainPane .header .stats .adress {
    font-size: 0.65em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 15ch;
    margin: 0 0 0.25rem;
    white-space: nowrap;
}

#mainPane .header .stats .wallet-address {
    display: flex;
    justify-content: space-between;
    color: black;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    border-radius: 1em;
    background: var(--whiteBackground);
    align-items: baseline;
}

#mainPane .header .stats .address-div :hover {
    background: #ece2f3;
}

#mainPane .header .stats .address-div {
    padding: 0;
    margin-top: 5px;
    cursor: pointer;
}

#mainPane .header .stats .wallet-address .address-bloc{
    margin-left: 20px;
}

#mainPane .header .stats .wallet-address .copy{
    margin-right: 20px;
}

#mainPane .header .stats .values {
    margin-bottom: 0.1rem;
    font-size: 30px;
    font-weight: bold;
}

#mainPane .header .stats .dollars {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1.3em;
    padding-top: 0.5em;
    font-weight: bold;
    margin-left: 0.2em;
}

#mainPane .header .stats .decmialValues {
    margin-bottom: 0.1rem;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);

}

#mainPane .header .pendingTxs {
    height: 28px;
    width: 28px;
    background: var(--mainColorLight);
    color: white;
    font-size: .9em;
    border-radius: 50%;
    line-height: 28px;
    margin: auto;
    cursor: pointer;
    padding: 0;
    margin-left: 17px;
}



#mainPane .bodyElem.resume, #mainPane .bodyElem.send {
    padding: 0em 2em;
}

#mainPane .bodyElem.swap {
    padding: 0em 1em;
}

#mainPane #footer {
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.75em 0.5em;
    transition: max-height 0.25s ease-in;
    max-height: 48px;
}

#mainPane #footer:hover {
    max-height: 64px;
}

#mainPane #footer .footerElem {
    color: #9C9C9C;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

#mainPane #footer .footerElem:hover {
    color: #676767;
}

#mainPane #footer .footerElem.selected .fa-gift{
    background : none;
    -webkit-background-clip : unset;
    -webkit-text-fill-color : unset;
    color: var(--highlightColor1);
}

#mainPane #footer .footerElem.selected {
    color: var(--highlightColor1);
    cursor: default;
}

#mainPane #footer i {
    font-size: 1.5em;
}

#footer p {
    font-size: 0.8em;
    margin: 0;
    visibility: hidden;
    transform-origin: top;
}

#footer:hover p{
    visibility: visible;
}

#backupPopup span {
    color: var(--highlightColor1);
}

#backupPopup p {
    font-size: 0.9em;
    line-height: 1.3em;
}

#testnetFaucet {
    text-align: center;
    font-size: 0.75em;
    background: var(--whiteBackground);
    border-radius: 0.75em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

#testnetFaucet span {
    color: var(--mainColor);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#testnetFaucet span:hover {
    color: var(--mainColorDark10);
}

#tokenSelect {
    background: white;
    position: absolute;
    left: 0px;
    top: 0em;
    bottom: 0em;
    z-index: 21;
    width: 100%;

}

#tokenSelect .asset img, #tokenSelect .asset svg {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

#tokenSelect .tokenCategory {
    padding: 0;
}

#tokenSelect .asset {
    cursor: pointer;
    padding: 0.5em 3em !important;
}

#tokenSelect .asset:hover {
    background-color: var(--lightGrey);
}

#tokenSelect .asset .title {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 0.9em;
}

#tokenSelect .asset .desc {
    font-size: 0.8em;
    margin-bottom: 0;
}

#tokenSelect .asset i {
    font-size: 1em;
    vertical-align: middle;
    color: var(--textLight);
}

#tokenSelect .categoryTitle {
    padding-left: 2em;
    margin: 0;
}

#tokenSelect #categoriesWrapper {
    overflow: hidden;
    overflow-y: scroll;
    max-height: calc(100% - 92px);
    padding-bottom: 1em;
}

#tokenBack {
    padding-left: 1em;
}

#searchBarWrapper {
    margin: 1em 2em;
    border-bottom: 1px solid var(--lightGrey);
    padding-bottom: 0.25em;
}

#searchBar{
    border: none;
    width: 100%;
    outline: none;
}

#tokensNotFound {
    font-size: 1.25em;
}

#sendConfirm{
    position: absolute;
    z-index: 10;
    background: white;
    padding: 1em 2em;
    height: 100%;
}

#sendConfirmFees{
    position: absolute;
    z-index: 10;
    background: white;
    padding: 1em 2em;
    height: 100%;

}

.chainSelectionChevron{
    margin-left: 10px;
}


#sendConfirm .max  {
    background: transparent;
    border: none;
    all: unset;
    cursor: pointer;
    color: var(--highlightColor1) !important;
    text-decoration: none;
}
