@font-face {
    font-family: 'Montserrat';
    src: url('/ui/fonts/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
}

body {
    height: 600px;
    width: 56.25vh;
    --mainColor: #aa3180;
    --mainColorDark10: #912a6e; /* Darken by 10% */
    --mainColorLight: #c03791; /* Lighten by 10% */
    --mainColorLight20: #ca4a9e;
    --mainColorLight30: #d160aa;
    --highlightColor1: #8B2B75;
    --highlightColor2: #ffb4f8;
    --whiteBackground: #F2EBF7;
    --greenBackground:#E3F3E1;
    --greenArrow: #84C56F;
    --blueBackground:#DFF0FF;
    --blueArrow:#70a6dd;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    overflow: hidden;
    font-size: 14px;
}

.button {
    color: white;
    background: var(--mainColor);
    border: none;
    border-radius: .5em;
    padding: .375em .75em;
    transition: all ease-in 0.1s;
}

.button:hover {
    background: var(--mainColorDark10);
}

.button:disabled {
    background: #545454 !important;
}

.button.success {
    background: #28a745;
}

.button.success:hover {
    background: #218838;
}

.button.danger {
    background: #dc3545;
}

.button.danger:hover {
    background: #c82333;
}

.button.light {
    background: #f8f9fa;
    color: black;
}

.button.light:hover {
    background: #e2e6ea;
}

.input {
    background: #F3F3F3;
    border: none;
    color: #545454;
    padding: 0.375em 2em 0.375em 0.75em;
}

#sendConfirm .input {
    background: #F3F3F3;
    border: none;
    color: #545454;
    padding: 0.8em 0em 0.8em 1.75em;
    width: 38%;
    border-radius: 40px;
}

#sendConfirm select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#sendConfirm select.assetSelect {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 30px) calc(1em + 7px), calc(100% - 25px) calc(1em + 7px);
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

#sendConfirm  .inputAmount {
    all: unset;
    border: none;
    color: #545454;
    font-size: 3em;
    width: 2ch;
    text-align: center;
    min-width: 4ch;
    max-width: 11ch;
}

#sendConfirm .selectLogo{
    height: 32px;
    width: 32px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    display: inline-block;
    margin-top: 4px;
    margin-right: 7px;
}

#sendConfirmFees svg{
border-radius: 50%;
}

#sendConfirm .selectText{
    vertical-align: top;
    display: inline-block;
    padding-top: 8px;
    padding-left: 6px;
}

.input:focus-visible{
    outline: none !important;
}

.input.is-invalid {
    color: #dc3545;
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.input.outline {
    background: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
}

.input.outline:focus {
    outline: 5px solid rgba(255, 255, 255, 0.5);
}

.input.outline::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.inputWButton {
    padding: 0.375em 0.75em;
}

.inputWButton:focus-within {
    outline: 2px solid #545454;
}

.inputWButton input {
    background: transparent;
    border: none;
    outline: none;
    padding-right: 2em;
}

.inputWButton button {
    background: transparent;
    border: none;
    all: unset;
    color: var(--highlightColor1)
}

.inputWButton input.is-invalid {
    color: #dc3545;
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.inputWButton button:hover {
    color: var(--mainColorLight30)
}

.inputWButton button:active {
    color: var(--mainColorLight)
}

.label {
    margin: 0;
}

/* remove input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-1 {
    padding-left: .25em !important;
}

.pr-1 {
    padding-right: .25em !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #00000075;
    display: none;
    z-index: 11;
}

.popup .box {
    background: white;
    position: absolute;
    left: 6%;
    right: 6%;
    transform: translateY(50%);
    bottom: 50%;
    border-radius: 0.5em;
    box-shadow: 0px 1px 5px 2px #0000003b;
}

.popup .steps {
    background-color: #6C2559;
    height: 5px;
    border-radius: 100em;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.popup .stepsActive{
    background-color: #B71C8E !important;
}

#tutorialPopup .box {
    background-color: #242424 !important;
    border-radius: 1em !important;
}

#tutorialPopup .button{
    border-radius: 1em !important;
    color: black;
}

#tutorialPopup .button:hover{
    color: white;
}

#tutorialPopup #closeTutorial:hover{
    cursor: pointer;
}

.popup .header .close {
    cursor: pointer;
    transition: color ease-in 0.1s;
}

.popup .header .close:hover {
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

.questionSection{
    color: #babdbf;
    cursor: pointer;
}

.badge {
    vertical-align: text-bottom !important;
    font-weight: normal !important;
}

.badge-secondary {
    color: #fff !important;
    background-color: #6c757d !important;
}

.badge-warning {
    color: #212529 !important;
    background-color: #ffc107 !important;
}

.c-green {
    color: var(--bs-green) !important;
}

.leftLine {
    text-align: left;
    overflow: hidden;
}

.leftLine>span {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.leftLine>span:before, .leftLine>span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 200px;
    margin: 0 10px;
}

.leftLine>span:before {
    right: 100%;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.form-check-input:focus {
    border-color: var(--mainColor) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgb(170 49 128 / 25%) !important;
}

.form-check-input:checked {
    background-color: var(--mainColor) !important;
    border-color: var(--mainColorLight) !important;
    outline-color: var(--mainColorLight20) !important;
}

.form-select:focus {
    border-color: var(--mainColor) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgb(170 49 128 / 25%) !important;
}

#loadingPane {
    height: 100%;
    width: 100%;
    font-size: 1.75em;
    text-align: center;
    line-height: 100vh;
}

#loadingPane i {
    vertical-align: text-top;
}

.feesBtn{
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
}

.filter-option-inner-inner{
    overflow: hidden;
    margin-right: 7px;
}
