#mainPane {
    height: 100%;
    width: 100%;
}

#mainPane>.header {
    background: #faf6fc;
    text-align: center;
    height: 110px;
    padding: 0.5em;
    border-bottom: 1px solid #F6F5F6;
    margin-bottom: 3.5em;
}

#mainPane>.header>.stats {
    background: radial-gradient(ellipse at 50% 0%, #7700cf36 0%, transparent 120%),
            linear-gradient(133deg, rgba(0, 0, 0, 0) 0%, rgb(205 69 180 / 10%) 20%, rgba(0, 0, 0, 0) 40%),
            linear-gradient(133deg, rgba(0, 0, 0, 0) 30%, rgb(205 69 180 / 5%) 50%, rgba(0, 0, 0, 0) 70%);
    background-color: var(--mainColorDark10);
    color: white;
    padding: 0.5em 0em;
    position: absolute;
    left: 2em;
    right: 2em;
    padding: 1em;
    top: 54px;
    border-radius: 0.5em;
}

#mainPane .header .stats .fluctuation {
    color: var(--bs-teal);
    margin-bottom: 0;
}

#mainPane .header .stats .fluctuation.negative {
    color: #ff2020;
}

#mainPane .header .stats .fluctuation.negative i {
    transform: rotate(180deg);
    vertical-align: text-top;
}

#mainPane .header .stats .title {
    font-size: 0.65em;
    color: var(--whiteBackground);
    margin: 0 0 0.25rem;
}

#mainPane .header .stats .value {
    margin-bottom: 0.25rem;
}

#mainPane .header .pendingTxs {
    height: 36px;
    width: 36px;
    background: white;
    border-radius: 50%;
    line-height: 36px;
    margin: auto;
    cursor: pointer;
    padding: 0;
}

#mainPane #body {
    padding: 1em 2em;
}

#mainPane #footer {
    position: absolute;
    background: linear-gradient(0deg, #E6D9F0, #f3edf8);
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.75em 0.5em;
    transition: max-height 0.25s ease-in;
    max-height: 48px;
}

#mainPane #footer:hover {
    max-height: 64px;
}

#mainPane #footer .footerElem {
    color: #9C9C9C;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

#mainPane #footer .footerElem:hover {
    color: #676767;
}

#mainPane #footer .footerElem.selected {
    color: var(--highlightColor1);
    cursor: default;
}

#mainPane #footer i {
    font-size: 1.5em;
}

#footer p {
    font-size: 0.8em;
    margin: 0;
    visibility: hidden;
    transform-origin: top;
}

#footer:hover p{
    visibility: visible;
}

#backupPopup span {
    color: var(--highlightColor1);
}

#backupPopup p {
    font-size: 0.9em;
    line-height: 1.3em;
}

