#nftDetailPane {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: transform 0.25s ease;
    background-color: white;
    z-index: 10;
}

#nftDetailPane .logoNft {
    border-radius: 20px;
    max-height: 50vh;
}

#nftDetailPane .content {
    z-index: 99999;
    overflow: auto;
    max-height: 100%;
    padding: 0 1em 8em;
}

#sendNftBtn {
    display: block;
    white-space: break-spaces;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

#sendNFTBtnWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 0 1em;
}

#nftDetailPane .back {
    position: absolute;
    width: 2em;
    top: 0.1em;
    text-align: center;
    left: 0.3em;
    font-size: 12px;
    cursor: pointer;
    color: black;
    transition: color ease 0.25s;
}

#nftDetailPane .back:hover {
    color: black;
}

#nftDetailPane .back i {
    font-size: 1.5em;
}

#nftDetailPane .menu div {
    text-align: center;
    border-bottom: 1px solid #00000015;
    cursor: pointer;
}

#nftDetailPane .menu div.selected {
    border-bottom: 2px solid var(--mainColor);
    color: var(--mainColor);
}

#nftDetailPane .menu p {
    margin-bottom: 0.5em;
}

#nftDetailPane .infos {
    padding: 0 1.25em;
    margin-bottom: 0.5em;
    margin-top: 4px;
}

#nftDetailPane .infos .name {
    margin: 0;
    font-size: 1.4em;
    max-width: 100%;
}

#nftDetailPane .infos .ticker {
    margin: 0;
    font-size: 0.75em;
    color: #666;
}

#nftDetailPane .infos .change {
    color: #2d955a;
}

#nftDetailPane .infos .change.negative {
    color: #952d2d;
}

#nftDetailPane .infos .change.negative i {
    transform: rotate(180deg);
    vertical-align: text-top;
}

#nftDetailPane .infos .logo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: cover;
}

#nftInfos {
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 2em;
}

#nftInfos .additionalBtn {
    border-bottom: none!important;
    text-align: center;
    cursor: pointer;
    font-size: 1.25em;
    color: #666;
    transition: all 0.25s ease-in;
    padding-top: 0 !important;
}

#nftInfos .additionalBtn:hover {
    color: black;
}

#nftInfos .additionalBtn.active i {
    transform: rotate(180deg);
}

#nftInfos .description .title {
    margin-bottom: 0;
    font-size: 0.85em;
    font-weight: bold;
}

#nftInfos .description .desc {
    font-size: 0.9em;
    margin-bottom: 0;
    overflow: hidden;
}

#nftInfosLoading {
    text-align: center;
    font-size: 2em;
    margin-top: 4.1em;
}

#nftDetailsPaneLoading {
    position: absolute;
    text-align: center;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#nftDetailsSimple .resume {
    padding: 0 1em;
}

#nftDetailsSimple .address {
    font-size: 0.75em;
    padding: 0.75em!important;
    border-radius: 0.65em!important;
}

#nftDetailsDetailed {
    height: 100%;
}

#nftInfosWrapper .NFTDetail .title {
    font-weight: 600;
}

#nftInfosWrapper .NFTDetail .contentWrapper {
    overflow: hidden;
    text-overflow: ellipsis;
}

#nftInfosWrapper .NFTDetail .content {
    padding: 0;
}

#nftInfosWrapper .NFTDetail {
    margin-bottom: 0.75em;
    padding: 0 0.25em;
}

#nftInfosWrapper .NFTDetail.copiable {
    cursor: pointer;
    transition: all ease 0.25s;
    border-radius: 0.5em;
    padding: 0.25em;
}

#nftInfosWrapper .NFTDetail.copiable:hover {
    background-color: var(--whiteBackground);
}

#NFTDetailsID {
    margin-bottom: 2em !important;
}

#NFTDetailsTitleWrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}