#accountSelectionHeader {
    z-index: 10;
    display: flex;
}

.edit{
    cursor: pointer;
}

.inputAddress{
    background: unset;
    border: unset;
}

#accountSelectionHeader svg {
    border-radius: 50%;
    border: 1px solid #e9e9e9;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    position: absolute;
}

#accountSelectionHeader.opened svg {
    transform: rotate(-90deg);
}

#accountSelectionHeader .contentAddress .adress{
    font-size: .7em;
}

#accountSelectionHeader .contentAddress {
    background: #f8f4fb;
    padding: 0.5em;
    border-radius: 25px;
    cursor: pointer;
    padding-right: 1em;
}
#accountSelectionHeader .copy{
    margin-left: 38px;
}

.contentAddress .fa-copy{
    font-size: 12px !important;
}

#accountSelectionHeader .contentAddress:hover {
    background: var(--whiteBackground);
}

#accountSelectionHeader .contentAddress:hover {
    background: #e6e1e9;
}

#settings {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0px;
    position: absolute;
    background: #faf6fc;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition:transform 0.25s ease;
    z-index: 1;
}

#settings .mainPane {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#settings.walletSetup {
    transform: scaleY(1) !important;
    transition: unset !important;
}

#settings.opened {
    transform: scaleY(1);
}

#settings .addAccount {
    cursor: pointer;
    color: var(--mainColor);
    transition: all 0.2s ease-in;
    width: fit-content;
    float: right;
}

#settings .addAccount:hover {
    color: var(--mainColorDark10);
}

#settings .accounts {
    height: 100%;
    overflow-y: auto;
    min-height: 0;
    flex: 1 1 auto;
}

#settings .accounts .account {
    background: var(--whiteBackground);
    border-radius: 0.5em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    cursor: pointer;
    transition: background ease 0.25s;
}

#settings .accounts .account:hover {
    background: #ece2f3;
}

#settings .accounts .account i {
    display: none;
    cursor: pointer;
}

#settings .accounts .account.selected {
    background: #ece2f3;
    cursor: default;
}

#settings .accounts .account .address:focus + i {
    display: none;
}

#settings .accounts .account p {
    margin-bottom: 0;
}

#settings .accounts .account .identicon svg {
    border-radius: 50%;
}

#settings .accounts .account .address {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px !important;
    cursor: pointer;
    min-width: 6ch;
    max-width: 18ch;
}

#settings .accounts .account .ticker {
    font-weight: 600;
}

#settings .accounts .account .balance {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 6em;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    padding-bottom: 2px;
}

#settings .accounts .account .isSelected {
    display: none;
}

#settings .accounts .account.selected .isSelected {
    display: flex;
}

#settings .mainSettings .tab {
    padding: 1em 2em;
    cursor: pointer;
}

#settings .mainSettings .tab:hover {
    background: #00000025;
}

#settings .settingsPane .securityPane{
    padding: 1em 2em;
}

#settings .settingsPane .securitytitles{
    font-size: 1em;
    font-weight: bold;
}

#settings .settingsPane .securitydesc {
    font-size: .85em;
}

#settings .settingsPane .currencyConversion{
    padding: 1em 2em;
}

#settings .settingsPane .currencyConversionTitle{
    font-size: 1em;
    font-weight: bold;
}

#settings .settingsPane .currencyConversionDesc {
    font-size: .85em;
}

#settings .settingsPane .tab p {
    font-size: 0.9em;
}

#settings .settingsPane .tab i {
    font-size: 1.5em;
}

#settings .settingsPane .back {
    position: absolute;
    top: 0.9em;
    width: 2em;
    text-align: center;
    left: 0.5em;
    cursor: pointer;
    color: #545454;
    transition: color ease 0.25s;
}

#settings .settingsPane .back i {
    font-size: 1.5em;
}

#settings .settingsPane .back:hover {
    color: black
}

#settings .settingsPane .settingsCat {
    display: none;
    position: absolute;
    top: 3.5em;
    width: 100%;
    background: #faf6fc;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 6em;
}

#settings .settingsPane .writeMnemonic .word {
    background: #ede3f4;
    padding: 0.25em;
    border-radius: 0.5em;
    border: 1px solid #dfd6e5;
    margin: 0.25em;
}

#settings .settingsPane .writeMnemonic .word i {
    font-size: 0.6em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#settings .settingsPane .writeMnemonic .word val {
    font-size: 0.85em;
}

#settings .settingsPane .fa-trash-can{
    cursor: pointer;
}

#settings .settingsPane .signedSite {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 25ch;
    white-space: nowrap;
}

#settings .settingsPane .trakeExemple{
    background: var(--whiteBackground);
    border-radius: 0.5em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    transition: background ease 0.25s;
}

#settings .settingsPane .trakeExemple i {
    cursor: pointer;
    transition: all ease-in 0.25s;
}

#settings .settingsPane .trakeExemple i:hover {
    cursor: pointer;
    color: var(--bs-danger);
}

#settings .settingsPane .settingsCat[data-settingId='connectedWebsites'] {
    padding: 0em 2em;
    overflow: auto;
}

#settings .settingsPane .importMnemonic{
    height: 100%;
}

#settings .settingsPane .importMnemonic .backToCreate {
    cursor: pointer;
    color: var(--mainColor);
    transition: all 0.2s ease-in;
}

#settings .settingsPane .importMnemonic .backToCreate:hover{
    color: var(--mainColorDark10);
}


#settings .settingsPane #phraseLength{
    background: var(--whiteBackground);
    border-radius: 0.5em;
    border: unset;
    height: 25px;
}

#settings .settingsPane .lengtInput{
    background: var(--whiteBackground);
    border-radius: 10px;
    border: 1px solid #dfd6e5;
}

#settings .settingsPane .fa-eye{
    cursor: pointer;
}

#settings .settingsPane .fa-eye-slash{
    cursor: pointer;
}

#settings .mnemonicAsk {
    max-height: 555px;
    overflow: auto;
}

#settings .settingTitle{
    font-size: 1.25rem;
}

.settingLogo{
    margin-right: 10px;
}

#currencyConversion{
    padding: 0.575em;
    background-color: #e9e9e9;
    border: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
    background-size: 0.65rem auto;
    background-position: right 1rem top 50%;
    border-radius: 5px;
}
