#body .swap  {
    padding-top: 2em;
}

#swapPane .inputHeader {
    font-size: 0.8em;
}

#swapPane .inputHeader .amount {
    display: inline-block;
    max-width: 124px;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
}

#swapPane .inputHeader .ticker {
    color: var(--mainColor)
}

#swapPane .swapInput {
    background: var(--whiteBackground);
    border-radius: 0.5em;
}

#swapPane .swapInput input {
    width: 3ch;
    min-width: 4.5ch;
    max-width: 12ch;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 1.35em;
    height: 100%;
    padding-right: 1em;
    margin-left: 0.5em;
}

#swapPane .swapInput .maxBtn {
    font-size: 0.8em;
    color: var(--mainColor);
    vertical-align: top;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-left: -1.25em;
    display: inline-block;
    padding-top: 12px;
}

#swapPane .swapInput .maxBtn:hover {
    color: var(--mainColorLight);
}

#swapPane .swapInput .bootstrap-select > .dropdown-toggle {
    background: none;
    border: none;
    padding: 0em 0.5em;
}

#swapPane .swapInput .selectLogo {
    height: 32px;
    width: 32px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    display: inline-block;
    margin-top: 4px;
}

#swapPane .swapInput .selectText {
    vertical-align: top;
    display: inline-block;
    padding-top: 8px;
    padding-left: 6px;
}

#swapPane .swapInput .selectCoin {
    border-left: 2px solid #ece2f3;
}

#swapSwitchBtn {
    height: 36px;
    width: 36px;
    padding: 0px;
    background: var(--whiteBackground);
    border: none;
    margin: auto;
    border-radius: 50%;
    color: var(--mainColorDark10);
    transition: all 0.2s ease-in;
}

#swapSwitchBtn:hover {
    background: #ece2f3;
}

#swapPane .route {
    border-bottom: 2px dashed black;
    margin: 1em 0.25em 0;
}

#swapPane .route .step {
    height: 32px;
    width: 32px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    margin-top: -16px;
}

#swapPane .route .step:first-child {
    margin-left: -16px;
}

#swapPane .route .step:last-child {
    right: 16px;
}

#swapPane .route.steps3 .step:nth-child(2){
    left: calc(50% - 16px);
}

#swapPane .route.steps4 .step:nth-child(2){
    left: calc(33.3% - 8px);
}

#swapPane .route.steps4 .step:nth-child(3){
    left: calc(66.6% - 24px);
}

#swapPane .route.steps5 .step:nth-child(2){
    left: calc(25%);
}

#swapPane .route.steps5 .step:nth-child(3){
    left: calc(50% - 16px);
}

#swapPane .route.steps5 .step:nth-child(4){
    left: calc(75% - 32px);
}

#swapPane .rate {
    font-size: 0.8em;
}

#swapPane .rate .ticker {
    color: var(--mainColor);
}
