#body .swap  {
    padding-top: 1em;
}

#swapPane .inputHeader {
    font-size: 0.8em;
    padding-bottom: 0.7em;
}

#swapPane .inputHeader .amount {
    display: inline-block;
    max-width: 96px;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
}

#swapPane .inputHeader .ticker {
    color: var(--mainColor)
}

#swapPane .swapInput {
    background: #F3F3F3;
    border-radius: 5.5em;
    height: 50px;
    margin-bottom: 2.5em;
}

#swapPane .swapInput .amountInput {
    width: 3ch;
    min-width: 4.5ch;
    max-width: 10ch;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 1.35em;
    height: 100%;
    padding-right: 1em;
    margin-left: 0.5em;
}

#swapInput2 {
    width: initial !important;
    min-width: initial !important;
    max-width: 100% !important;
}

#swapPane .swapInput .maxBtn {
    font-size: 0.8em;
    color: var(--mainColor);
    vertical-align: top;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-left: -1.25em;
    display: inline-block;
    padding-top: 12px;
}

#swapPane .swapInput .maxBtn:hover {
    color: var(--mainColorLight);
}

#swapPane .swapInput .bootstrap-select > .dropdown-toggle {
    background: none;
    border: none;
    padding: 0em 0.5em;
}

#swapPane .swapInput .selectLogo {
    height: 28px;
    width: 28px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    display: inline-block;
    margin-top: 4px;
}

#swapPane .swapInput .selectText {
    vertical-align: top;
    display: inline-block;
    padding-top: 8px;
    padding-left: 6px;
}

#swapPane .swapInput .selectCoin {
    background: white;
    border-radius: 55px;
    width: 33%;
    margin-left: 20px;
}

#swapSwitchBtn {
    height: 50px;
    width: 50px;
    padding: 0px;
    background: #F3F3F3;
    border: none;
    margin: auto;
    border-radius: 50%;
    color: var(--mainColorDark10);
    transition: all 0.2s ease-in;
    justify-content: center;
    align-items: center;
    display: flex;
}

#swapSwitchBtn:hover {
    background: #ece2f3;
}

#swapPane .route {
    border-bottom: 2px dashed black;
    margin: 1em 0.25em 0;
}

#swapPane .route .step {
    height: 32px;
    width: 32px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    margin-top: -16px;
}

#swapPane .route .step:first-child {
    margin-left: -16px;
}

#swapPane .route .step:last-child {
    right: 15px;
}

#swapPane .route.steps3 .step:nth-child(2){
    left: calc(50% - 16px);
}

#swapPane .route.steps4 .step:nth-child(2){
    left: calc(33.3% - 8px);
}

#swapPane .route.steps4 .step:nth-child(3){
    left: calc(66.6% - 24px);
}

#swapPane .route.steps5 .step:nth-child(2){
    left: calc(25%);
}

#swapPane .route.steps5 .step:nth-child(3){
    left: calc(50% - 16px);
}

#swapPane .route.steps5 .step:nth-child(4){
    left: calc(75% - 32px);
}

#swapPane .rate {
    font-size: 0.8em;
}

#swapPane .rate .ticker {
    color: var(--mainColor);
}

#swapLoading {
    text-align: center;
    margin-top: 4em;
    font-size: 2em;
}

#swapParams {
    padding: 1em 0em 4em;
}

#swapReview .confirmRoute {
    border-bottom: 2px dashed black;
    margin: 1em 0.25em 2em;
}

#swapReview .confirmRoute .step {
    height: 56px;
    width: 56px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    margin-top: -28px;
    border: 4px solid white;
}

#swapReview .confirmRoute .step:last-child {
    right: 32px;
}

#swapReview .receiveAmount {
    border-radius: 0.5em;
    text-align: center;
    padding: 1.5em 0;
}

#swapReview .receiveAmount .amount {
    font-size: 1.55em;
    margin: 0;
}

#swapReview {
    background: white;
    height: calc(100% - 3em);
    padding-top: 1em;
}

#swapReview .title{
    padding-left: 65px;
}

#swapReview .details p {
    margin: 0;
    font-size: 0.9em;
}

#swapReview .details .value {
    text-align: right;
}

#swapReview .details .valueNet {
    text-align: right;
    font-weight: bold;
}

#swapReview .details .title, #swapReview .details .value {
    margin: 0.25em 0;
    padding: 0;
    color: #6e6e6e;
}
#swapReview .details .titleNet, #swapReview .details .valueNet {
    margin: 0.25em 0;
    font-weight: bold;
}

#swapReview button{
    position: absolute;
    bottom: 4em;
    left: 1em;
    right: 1em;
}

#swapReview .details .titleFees{
    margin: 0.25em 0;
    padding: 0;
}

#swapReview .ticker {
    color: var(--mainColor);
}

#swapReview .range {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

#swapReviewAmountIn, #swapReviewNetFees, #swapReviewSwapFees {
    display: inline-block;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

#swapReviewBack {
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#swapReviewBack i {
    font-size: 1.5em;
}

#swapReviewBack:hover {
    color: black;
}

#swapReviewNetFees {
    max-width: 110px!important;
}

#swapReviewAmountOut {
    display: inline-block;
    max-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

#swapRouteNotFound {
    border-radius: 0.5em;
}

#swapComing div {
    height: 2.5em;
    width: 2.5em;
    background: var(--mainColorLight20);
    color: white;
    line-height: 2.5em;
    border-radius: 50%;
    font-size: 2.5em;
    margin: 0.25em auto;
}



.closeBtn, .backBtn, #cancelOrderClose {
    font-size: 1em;
    cursor: pointer;
    transition: all 0.2s ease-in;
    color: #333;
}

.closeBtn:hover, .backBtn:hover, #cancelOrderClose:hover {
    color: black;
}

.exchangeInput {
    background-color: var(--lightGrey);
    padding: 0.5em;
    border-radius: 100em;
}

.exchangeInputWrapper {
    margin: 0.5em !important;
}

.swapInput input {
    background: transparent;
    border: none;
    font-size: 1.75em;
    outline: none;
    width: 100%;
    line-height: 1em;
}

.swapInput .tokenSelect {
    background: white;
    border-radius: 100em;
    padding: 0.3em;
    cursor: pointer;
    width: 121%;
    height: 42px;
}

.swapInput img, .swapInput svg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.swapInput .ticker {
    padding-left: 0.5em;
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 0em!important;
    font-weight: 600;
}

#exchangeIcon {
    background: var(--lightGrey);
    color: var(--mainColor);
    height: 48px;
    width: 48px;
    display: inline-block;
    line-height: 48px;
    font-size: 1.5em;
    border-radius: 50%;
    margin-top: 1em;
}

#swapReview img, #swapReview svg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#swapReview .details {
    background: #F3F3F3;
    border-radius: 10px;
    margin: 0;
}

#swapReviewTransferAmount {
    padding: 0 1em;
}


