#tokenDetailPane {
    display: block;
    height: 600px;
    width: 100%;
    background: #faf6fc;
    /* transform: scaleY(0); */
    transform-origin: 50% 0;
    position: absolute;
    top: 0;
    transition: transform 0.25s ease;
    background: linear-gradient(0deg, rgba(90, 0, 156, 0.08), transparent);
    background-color: white;
}

#tokenDetailPane .content {
    z-index: 99999;
    padding: 0 1em;
}

#tokenDetailPane .back {
    position: absolute;
    top: 0.9em;
    width: 2em;
    text-align: center;
    left: 0.5em;
    cursor: pointer;
    color: #545454;
    transition: color ease 0.25s;
}

#tokenDetailPane .back:hover {
    color: black;
}

#tokenDetailPane .back i {
    font-size: 1.5em;
}