#transactionsPane {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #ffffff;
    /* transform: scaleY(0); */
    transform-origin: 50% 0;
    position: absolute;
    top: 0;
    transition: transform 0.25s ease;
    z-index: 10000;
}

#transactionsPane .content {
    flex: 1 1 auto;
    min-height: 0;
}

#transactionsPane .back {
    text-align: center;
    cursor: pointer;
    color: #545454;
    transition: color ease 0.25s;
}

#transactionsPane .back:hover {
    color: black;
}

#transactionsPane .back i {
    font-size: 1.5em;
    margin-left: 1em;
}

#transactionsPane .listWrap {
    overflow: auto;
    max-height: 100%;
    padding: 0 1.5em;
    padding-bottom: 1em;
}

#transactionsPane .listWrap::-webkit-scrollbar {
    width: 10px;
}

#transactionsPane .listWrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

#transactionsPane .listItem {
    background: #f9f9f9;
    border-radius: 0.5em;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    padding-left: 1em;
    transition: background ease 0.25s;
    cursor: pointer;
}

#transactionsPane .listItem:hover {
    background: #e6e1e9;
}

#transactionsPane .listItem p {
    margin-bottom: 0;
}

#transactionsPane .listItem .header .amount val {
    max-width: 12ch;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}

#transactionsPane .listItem .smallDetails .amount val {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 5em;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    padding-bottom: 3px;
}

#transactionsPane .listItem .logo {
    height: 32px;
    width: 32px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    margin: auto;
}

#transactionsPane .listItem .smallDetails {
    font-size: 0.85em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#transactionsPane .listItem .smallDetails .recipient {
    color: var(--highlightColor1);
}
#transactionsPane  .siteAdress {
    color: var(--highlightColor1);
}
#transactionsPane .listItem .details {
    display: none;
}

#transactionsPane .listItem .detail {
    font-size: 0.85em;
    margin: 0.5em 0;
}

#transactionsPane .listItem .detail .title {
    font-size: 0.85em;
    padding-top: 0.15em;
    font-weight: bold;
}

#transactionsPane .listItem .detail .body {
    white-space: nowrap;
    overflow: hidden;
}

#transactionsPane .listItem .details .close {
    font-size: 1.25em;
    text-align: center;
    cursor: pointer;
    color: #545454;
    transition: color ease 0.25s;
    margin-top: 0.25em;
}

#transactionsPane .listItem .details .close:hover {
    color: black;
}

#transactionsPane .listItem progress-ring {
    transform: translate(-6px, -44px);
    height: 0;
    width: 50px;
}

#transactionsPane .listItem.opened .details {
    display: block;
}

#transactionsPane .listItem.opened {
    background: #F9F9F9;
    cursor: default;
}

#transactionsPane .listItem.confirmedTx .status {
    color: green;
}

#transactionsPane .listItem.refusedTx .status {
    color: red;
}

#transactionsPane .listItem .confirmed, #transactionsPane .listItem .refused {
    margin-right: 18px;
}

#transactionsPane .listItem .recipient {
    color: var(--highlightColor1);
    cursor: pointer;
    transition: color ease 0.25s;
    text-overflow: ellipsis;
}

#transactionsPane .listItem.opened .recipient:hover {
    color: var(--mainColorLight30);
}

#transactionsPane .listItem .speed-up, #transactionsPane .listItem .cancel {
    font-size: 0.85em;
    color: var(--highlightColor1);
    text-decoration: none;
    cursor: pointer;
    transition: color ease 0.25s;
}

#transactionsPane .listItem .speed-up:hover, #transactionsPane .listItem .cancel:hover {
    color: var(--mainColorLight30);
}

#speedupPopup .loading, #txCancelPopup .loading {
    text-align: center;
    margin: 2em;
    font-size: 1.5em;
}

#speedupPopup .amount, #txCancelPopup .amount {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
}

#speedupPopup b, #txCancelPopup b {
    font-size: 0.75em;
}

#speedupPopup .ticker, #txCancelPopup .ticker {
    color: var(--mainColor);
}

#transactionsPane .listItem .swapTx .logo {
    height: 26px;
    width: 26px;
    margin-top: -13px;
}

#transactionsPane .listItem .swapTx .logo.two {
    margin-left: 13px;
}


#transactionsPane .listItem .ticker {
    color: var(--mainColorDark10);
}

#transactionsPane .listItem .swapTx .smallDetails .amount {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 78px;
    vertical-align: top;
}

#transactionsPane .listItem .swapTx.opened .header .title {
    float: left;
}

#transactionsPane .listItem .swapTx.opened .header {
    margin-top: 10px;
}

#transactionsPane .fees{
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
}

#transactionsPane .paneSelected{
    color: var(--mainColor) !important;
    border-bottom: solid 3px !important;
}

#transactionsPane .pane{
    border-bottom: solid 2px #c7c7c7;
}

#transactionsPane .paneTitle{
cursor: pointer;
    margin-bottom: 0.5em !important;
}

.confirmedTx .statusColor{
    background: var(--greenBackground);
    border-radius: 50px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: var(--greenArrow);
}


.atomicSwapTx.confirmedTx .statusColor{
    background: #E8D0FF;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #B668FF;
}
.swapTx.confirmedTx .statusColor, .swapTokenForTokenTx.confirmedTx .statusColor{
    background: var(--blueBackground);
    border-radius: 50px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: var(--blueArrow);
}

.refusedTx .statusColor{
    background: var(--redBackground);
    border-radius: 50px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: var(--redArrow);
}

.pendingTx .statusColor{
    background: #E9EBEC;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #9FA4B2;
}

.addrRecipient{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 111px;
    vertical-align: top;
}

#transactionsPane .addr, #transactionsPane .closeChevron {
    color: #6e6e6e;
}

#transactionsPane .closeChevron {
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 16px;
}

#transactionsPane .closeChevron:hover {
    color: var(--bs-body-color);
}

#transactionsPane .time{
    float: right;
}
#transactionsPane .site{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
}

#transactionsPane .amountOverflow{
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    text-overflow: ellipsis;
    max-width: 15ch;
}

#transactionsPane .chevronOpened{
    rotate: 90deg;
}

.listDate{
    margin-top: 11px;
}

.transactionsNotifTx .regular {
color: red;
}

.transactionsNotifTx .important {
    color: red;
}

.transactionsNotifTx .danger {
    color: red;
}

.transactionsNotifTx .sucess {
    color: red;
}

.transactionsNotifTx .regular {
    color: red;
}

#transactionsPane .fa-eye-slash:hover{
    transition: all 250ms;
    color: black;
}

.notifTime{
    color: var(--mainColorDark10);
    font-size: .9em;
}

.amountLimit{
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
    vertical-align: bottom;
}

#transactionsPane .transactionWrapTx .amountIn {
    max-width: 12ch;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}
