#transactionsPane {
    display: block;
    height: 600px;
    width: 100%;
    background: #faf6fc;
    /* transform: scaleY(0); */
    transform-origin: 50% 0;
    position: absolute;
    top: 0;
    transition: transform 0.25s ease;
}

#transactionsPane .content {
    z-index: 99999;
    padding: 0 1em;
}

#transactionsPane .back {
    position: absolute;
    top: 0.9em;
    width: 2em;
    text-align: center;
    left: 0.5em;
    cursor: pointer;
    color: #545454;
    transition: color ease 0.25s;
}

#transactionsPane .back:hover {
    color: black;
}

#transactionsPane .back i {
    font-size: 1.5em;
}

#transactionsPane .listWrap {
    overflow: auto;
    max-height: 548px;
    padding: 0 1em;
}

#transactionsPane .listWrap::-webkit-scrollbar {
    width: 10px;
}

#transactionsPane .listWrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

#transactionsPane .listItem {
    background: rgba(90, 0, 156, 0.08);
    border-radius: 0.5em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    transition: background ease 0.25s;
    cursor: pointer;
}

#transactionsPane .listItem:hover {
    background: rgba(90, 0, 156, 0.12);
}

#transactionsPane .listItem p {
    margin-bottom: 0;
}

#transactionsPane .listItem .header .amount val {
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}

#transactionsPane .listItem .smallDetails .amount val {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 5em;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    padding-bottom: 3px;
}

#transactionsPane .listItem .logo {
    height: 32px;
    width: 32px;
    background-color: var(--mainColor);
    border-radius: 50%;
    background-size: cover;
    margin: auto;
}

#transactionsPane .listItem .smallDetails {
    font-size: 0.85em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#transactionsPane .listItem .smallDetails .recipient {
    color: var(--highlightColor1);
}

#transactionsPane .listItem .details {
    display: none;
}

#transactionsPane .listItem .detail {
    font-size: 0.85em;
    margin: 0.5em 0;
}

#transactionsPane .listItem .detail .title {
    font-size: 0.85em;
    font-weight: bold;
}

#transactionsPane .listItem .detail .body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#transactionsPane .listItem .details .close {
    font-size: 1.25em;
    text-align: center;
    cursor: pointer;
    color: #545454;
    transition: color ease 0.25s;
    margin-top: 0.25em;
}

#transactionsPane .listItem .details .close:hover {
    color: black;
}

#transactionsPane .listItem.opened .smallDetails, #transactionsPane .listItem.opened .header .amount {
    visibility: hidden;
}

#transactionsPane .listItem.opened .details {
    display: block;
}

#transactionsPane .listItem.opened {
    background: rgba(90, 0, 156, 0.12);
    cursor: default;
}

#transactionsPane .listItem .confirmed, #transactionsPane .listItem .refused {
    margin-right: 18px;
}

#transactionsPane .listItem .recipient {
    color: var(--highlightColor1);
    cursor: pointer;
    transition: color ease 0.25s;
}

#transactionsPane .listItem.opened .recipient:hover {
    color: var(--mainColorLight30);
}

#transactionsPane .listItem .speed-up, #transactionsPane .listItem .cancel {
    font-size: 0.85em;
    color: var(--highlightColor1);
    text-decoration: none;
    cursor: pointer;
    transition: color ease 0.25s;
}

#transactionsPane .listItem .speed-up:hover, #transactionsPane .listItem .cancel:hover {
    color: var(--mainColorLight30);
}

#speedupPopup .loading, #txCancelPopup .loading {
    text-align: center;
    margin: 2em;
    font-size: 1.5em;
}

#speedupPopup .amount, #txCancelPopup .amount {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
}

#speedupPopup b, #txCancelPopup b {
    font-size: 0.75em;
}

#speedupPopup .ticker, #txCancelPopup .ticker {
    color: var(--mainColor);
}

#transactionsPane .listItem.swapTx .logo {
    height: 26px;
    width: 26px;
    position: absolute;
    margin-top: -13px;
}

#transactionsPane .listItem.swapTx .logo.two {
    margin-left: 13px;
}

#transactionsPane .listItem .ticker {
    color: var(--mainColorDark10);
}

#transactionsPane .listItem.swapTx .smallDetails .amount {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 78px;
    vertical-align: top;
}

#transactionsPane .listItem.swapTx.opened .header .title {
    float: left;
}

#transactionsPane .listItem.swapTx.opened .header {
    margin-top: 10px;
}
