#unlockPane {
    background: radial-gradient(ellipse at 50% 0%, #7700cf36 0%, transparent 120%),
    linear-gradient(133deg, rgba(0, 0, 0, 0) 0%, rgb(205 69 180 / 10%) 20%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(133deg, rgba(0, 0, 0, 0) 30%, rgb(205 69 180 / 5%) 50%, rgba(0, 0, 0, 0) 70%);
    background-color: #101015;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 25% 30px 0;
    color: white;
}

#unlockPane img {
    width: 40%;
}

#unlockPane .passwordBox .label {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 8px;
}

#unlockPane .subtitle {
    font-style: italic;
    color: var(--highlightColor1);
}

#unlockPane .passwordBox {
    margin-top: 4em;
}

#unlockPane .passwordBox button {
    margin-top: 5em;
    padding: .5em .75em;
    background: white;
    color: var(--mainColor);
}

#unlockPane .passwordBox button:hover {
    background: #eee;
}

#unlockPane .passwordBox button:active {
    background: white;
    outline: 5px solid rgba(255, 255, 255, 0.5);
}

#unlockPane .passwordBox button:disabled {
    background: #aaa;
}

#unlockPane .passwordBox input {
    padding: .5em .75em;
}

#unlockPane .recover {
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.95em;
    cursor: pointer;
    transition: all ease-in 0.1s;
}

#unlockPane .recover span {
    color: var(--highlightColor1);
}

#unlockPane .recover:hover {
    color: white;
}

#unlockPane .recover:hover span {
    color: var(--highlightColor2);
}

#unlockPanePasswordWrong {
    color: #dc3545;
    display: none;
}